body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #6200ee;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  #search-input {
    width: 300px;
    padding: 10px;
    border-radius: 4px 0 0 4px;
    border: none;
  }
  
  #search-button {
    padding: 10px;
    border-radius: 0 4px 4px 0;
    border: none;
    background-color: #03dac5;
    color: white;
    cursor: pointer;
  }
  
  main {
    padding: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  .horizontal-list {
    display: flex;
    overflow-x: scroll;
  }
  
  .horizontal-list::-webkit-scrollbar {
    display: none;
  }
  
  .horizontal-list .movie {
    min-width: 150px;
    margin-right: 10px;
    text-align: center;
  }
  
  #results-section {
    margin-bottom: 20px;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #6200ee;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  .movie img {
    width: 100%;
    border-radius: 8px;
  }
  
  .movie p {
    margin: 5px 0 0 0;
    color: #333;
  }
  